
.RData
.Rhistory
*.pper
.Rproj.user/E2A51FEF/persistent-state
.Rproj.user/E2A51FEF/saved_source_markers
.Rproj.user/E2A51FEF/rmd-outputs
.Rproj.user/E2A51FEF/sources/per/t/0E4BB690-contents
*.csv
*.json
*.error
*.png
*.css
*.js
.Rproj.user/E2A51FEF/sources/s-96E39D79/F931450F-contents
*.metadata
*.map
*.scss
*.txt
.Rproj.user/E2A51FEF/sources/s-96E39D79/D02C82A4-contents
.Rproj.user/E2A51FEF/sources/prop/INDEX
.Rproj.user/E2A51FEF/sources/per/t/0E4BB690
.Rproj.user/E2A51FEF/sources/per/t/451DDC68
.Rproj.user/E2A51FEF/sources/per/t/451DDC68-contents
.Rproj.user/E2A51FEF/sources/per/t/D02C82A4-contents
.Rproj.user/E2A51FEF/sources/per/t/F931450F
.Rproj.user/E2A51FEF/sources/prop/075443BC
.Rproj.user/E2A51FEF/sources/prop/43D1A62E
.Rproj.user/E2A51FEF/sources/prop/8CDE1154
.Rproj.user/E2A51FEF/sources/prop/ABF5A023
.Rproj.user/E2A51FEF/sources/s-96E39D79/451DDC68
.Rproj.user/E2A51FEF/sources/s-96E39D79/56055BF4-contents
.Rproj.user/E2A51FEF/sources/s-96E39D79/F931450F
.Rproj.user/E2A51FEF/sources/s-96E39D79/lock_file
*.snapshot
.Rproj.user/E2A51FEF/sources/s-96E39D79/0E4BB690
.Rproj.user/E2A51FEF/sources/s-96E39D79/0E4BB690-contents
.Rproj.user/E2A51FEF/sources/s-96E39D79/451DDC68-contents
.Rproj.user/E2A51FEF/sources/s-96E39D79/56055BF4
.Rproj.user/E2A51FEF/sources/s-96E39D79/D02C82A4
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/E2A51FEF/sources/prop/8FF6188B
.Rproj.user/E2A51FEF/sources/prop/3985C8C7
.Rproj.user/E2A51FEF/sources/per/t/F931450F-contents
.Rproj.user/E2A51FEF/sources/per/t/D02C82A4
.Rproj.user/E2A51FEF/sources/prop/684339C2
.Rproj.user/E2A51FEF/sources/per/t/56055BF4-contents
.Rproj.user/E2A51FEF/sources/per/t/56055BF4
.Rproj.user/shared/notebooks/paths
*.log
*.bridge
*.Rproj
